* {
  box-sizing: border-box;
}

button {
  background: none;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: medium;
  height: 32px;
  padding: 0 16px;
}

button:focus {
  outline: none;
}

button.emoji {
  border: none;
}

button.primary {
  color: white;
  background-color: #673ab7;
  border-color: #673ab7;
}

button.primary:disabled {
  background-color: rgba(103, 58, 183, .3);
  border-color: transparent;
}

button.secondary {
  color: #673ab7;
  background-color: transparent;
  border-color: transparent;
}

label {
  color: #666666;
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  margin: 4px 0;
}

label input {
  margin-left: 4px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Raleway, sans-serif;
  font-size: 14;
}

h4 {
  display: flex;
  justify-content: flex-end;
  margin:  10px;
  padding: 0;
}

input,
select,
textarea {
  outline: 0;
}

input {
  border: none;
  border-bottom: 1px solid gray;
  font-family: Raleway, sans-serif;
  font-size: 14;
  line-height: 32px;
  height: 32px;
  padding: 0 4px;
  width: 100%;
}

#app, .app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.attr span {
  margin: 0 5px;
}

.attr__name {
  font-weight: 700;
}

.attr__val {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
}

.attr__val.long {
  width: 125px;
}

.attr__val.small {
  width: 60px;
}

.attr__val.tiny {
  width: 40px;
}

.block.hard {
  background-color: lightgray;
  background: repeating-linear-gradient(
    45deg,
    #091113,
    #091113 8.5px,
    #192123 0,
    #192123 17px
  );
}

.bomb {
  background: repeating-linear-gradient(
    45deg,
    red,
    red 8.5px,
    orangered 0,
    orangered 17px
  ) !important;
}

.bomb::after {
  content: "💣"
}

.bomb-remote-controlled {
  background: repeating-linear-gradient(
    45deg,
    rgba(255,0,0,.4),
    rgba(255,0,0,.4) 8.5px,
    rgba(255,69,0,.4) 0,
    rgba(255,69,0,.4) 17px
  ) !important;
}

.bomb-remote-controlled::after {
  content: "🎁"
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.cell {
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.emoji {
  font-size: 32px;
  margin: 4px 8px;
  padding: 5px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty {
  padding: 24px;
}

.fire {
  background: repeating-linear-gradient(
    45deg,
    orange,
    orange 8.5px,
    gold 0,
    gold 17px
  ) !important;
}

.fire::after {
  content: "🔥"
}

.gameover {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}

.game-dialog {
  background-color: white;
  border-radius: 7px;
  font-size: 14px;
  padding: 16px;
}

.game-entry {
  background-color: whitesmoke;
  list-style: none;
  margin: 4px 0;
  padding: 4px 16px;
  display: flex;
  align-items: center;
}

.game-entry li {
  display: flex;
}

.grid {
  background: repeating-linear-gradient(
    45deg,
    lightgray,
    lightgray 8.5px,
    whitesmoke 0,
    whitesmoke 17px
  );
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  font-size: 36px;
}

.hit {
  opacity: 0.4;
}

.hourglass::after {
  content: "⌛"
}

.item {
  background: repeating-linear-gradient(
    45deg,
    dodgerblue ,
    dodgerblue 8.5px,
    deepskyblue 0,
    deepskyblue 17px
  );
}

.item-bomb::after {
  content: "💣"
}

.item-fire::after {
  content: "🔥"
}

.item-remote-control::after {
  content: "🕹️"
}

.lobby {
  font-size: 14px;
}

.modal {
  background-color: rgba(0, 0, 0, .8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.num-players {
  margin: 8px;
}

.player-1 {
  background: repeating-linear-gradient(
    45deg,
    rgba(218, 112, 214, .3),
    rgba(218, 112, 214, .3) 8.5px,
    rgba(221, 160, 221, .3) 0,
    rgba(221, 160, 221, .3) 17px
  );
}

.player-1::after {
  content: "🐈"
}

.player-2 {
  background: repeating-linear-gradient(
    45deg,
    rgba(107, 142, 35, .3),
    rgba(107, 142, 35, .3) 8.5px,
    rgba(154, 205, 50, .3) 0,
    rgba(154, 205, 50, .3) 17px
  );
}

.player-2::after {
  content: "🦔"
}

.player-3 {
  background: repeating-linear-gradient(
    45deg,
    rgb(124, 77, 255, .3),
    rgb(124, 77, 255, .3) 8.5px,
    rgb(180, 124, 255, .3) 0,
    rgb(180, 124, 255, .3) 17px
  );
}

.player-3::after {
  content: "🐇"
}

.player-4 {
  background: repeating-linear-gradient(
    45deg,
    rgb(249, 168, 37, .3),
    rgb(249, 168, 37, .3) 8.5px,
    rgb(255, 217, 90, .3) 0,
    rgb(255, 217, 90, .3) 17px
  );
}

.player-4::after {
  content: "🐿"
}

.player-5 {
  background: repeating-linear-gradient(
    45deg,
    rgb(3, 169, 244, .3),
    rgb(3, 169, 244, .3) 8.5px,
    rgb(103, 218, 255, .3) 0,
    rgb(103, 218, 255, .3) 17px
  );
}

.player-5::after {
  content: "🦏"
}

.player-6 {
  background: repeating-linear-gradient(
    45deg,
    rgb(75, 44, 32, .3),
    rgb(75, 44, 32, .3) 8.5px,
    rgb(121, 85, 72, .3),
    rgb(121, 85, 72, .3) 17px
  );
}

.player-6::after {
  content: "🦉"
}

.player-7 {
  background: repeating-linear-gradient(
    45deg,
    rgb(29, 233, 182, .3),
    rgb(29, 233, 182, .3) 8.5px,
    rgb(110, 255, 232, .3) 0,
    rgb(110, 255, 232, .3) 17px
  );
}

.player-7::after {
  content: "🐬"
}

.player-8 {
  background: repeating-linear-gradient(
    45deg,
    rgb(153, 170, 0, .3),
    rgb(153, 170, 0, .3) 8.5px,
    rgb(205, 220, 57, .3) 0,
    rgb(205, 220, 57, .3) 17px
  );
}

.player-8::after {
  content: "🦖"
}

.player-stats {
  background-color: whitesmoke;
  display: flex;
  margin: 10px;
  padding: 4px;
  list-style: none;
}

.player-stats li {
  display: flex;
  margin: 5px 5px;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.row.flex-end {
  justify-content: flex-end;
}

.stats ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.time {
  font-family: monospace;
  font-weight: 600;
}

.volume {
  position: absolute;
  top: 48px;
  right: 48px;
}

.volume--muted::after {
  content: "🔇"
}

.volume--unmuted::after {
  content: "🔈"
}
