* {
  box-sizing: border-box;
}

button {
  background: none;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
  font-family: Raleway, sans-serif;
  font-size: 14;
  font-weight: medium;
  height: 32px;
  margin: 8px;
  padding: 0 16px;
  text-transform: uppercase;
}

button:focus {
  outline: none;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Raleway, sans-serif;
  font-size: 14;
}

h4 {
  display: flex;
  justify-content: flex-end;
  margin:  10px;
  padding: 0;
}

input,
select,
textarea {
  outline: 0;
}

#app, .app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.block.hard {
  background-color: lightgray;
  background: repeating-linear-gradient(
    45deg,
    #091113,
    #091113 8.5px,
    #192123 0,
    #192123 17px
  );
}

.block.soft::after {
  content: "🏚️"
}

.bomb {
  background: repeating-linear-gradient(
    45deg,
    red,
    red 8.5px,
    orangered 0,
    orangered 17px
  ) !important;
}

.bomb::after {
  content: "💣"
}

.bomb-remote-controlled {
  background: repeating-linear-gradient(
    45deg,
    rgba(255,0,0,.4),
    rgba(255,0,0,.4) 8.5px,
    rgba(255,69,0,.4) 0,
    rgba(255,69,0,.4) 17px
  ) !important;
}

.bomb-remote-controlled::after {
  content: "🎁"
}

.cell {
  margin: 0;
  padding: 0;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.empty {
  padding: 24px;
}

.fire {
  background: repeating-linear-gradient(
    45deg,
    orange,
    orange 8.5px,
    gold 0,
    gold 17px
  ) !important;
}

.fire::after {
  content: "🔥"
}

.game {
  background: repeating-linear-gradient(
    45deg,
    lightgray,
    lightgray 8.5px,
    whitesmoke 0,
    whitesmoke 17px
  );
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  font-size: 36px;
}

.gameover {
  background-color: rgba(0, 0, 0, .8);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: Raleway, sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hit {
  opacity: 0.4;
}

.in-name {
  border: none;
  border-bottom: 1px solid gray;
  font-family: Raleway, sans-serif;
  font-size: 14;
  line-height: 32px;
  height: 32px;
  padding: 0 4px;
}

.item {
  background: repeating-linear-gradient(
    45deg,
    dodgerblue ,
    dodgerblue 8.5px,
    deepskyblue 0,
    deepskyblue 17px
  );
}

.item-bomb::after {
  content: "💣"
}

.item-fire::after {
  content: "🔥"
}

.item-remote-control::after {
  content: "🕹️"
}

.name {
  margin: 8px;
}

.num-players {
  margin: 8px;
}

.player-1 {
  background: repeating-linear-gradient(
    45deg,
    rgba(218, 112, 214, 0.3) ,
    rgba(218, 112, 214, 0.3) 8.5px,
    rgba(221, 160, 221, 0.3) 0,
    rgba(221, 160, 221, 0.3) 17px
  );
}

.player-1::after {
  content: "🐈"
}

.player-2 {
  background: repeating-linear-gradient(
    45deg,
    rgba(107, 142, 35, 0.3) ,
    rgba(107, 142, 35, 0.3) 8.5px,
    rgba(154, 205, 50, 0.3) 0,
    rgba(154, 205, 50, 0.3) 17px
  );
}

.player-2::after {
  content: "🦔"
}

.player-3::after {
  content: "🐇"
}

.player-4::after {
  content: "🐿"
}

.player-5::after {
  content: "🦏"
}

.player-6::after {
  content: "🦉"
}

.player-7::after {
  content: "🐬"
}

.player-8::after {
  content: "🦖"
}

.player-stats {
  background-color: whitesmoke;
  display: flex;
  margin: 10px;
  padding: 4px;
  list-style: none;
}

.player-stats li {
  display: flex;
  margin: 5px 5px;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
  display: flex;
}

.stats ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.stats-attr span {
  margin: 0 5px;
}

.stats-attr__name {
  font-weight: 700;
}

.stats-attr__val {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
}

.stats-attr__val--num {
  width: 30px;
}

.time {
  font-family: monospace;
  font-weight: 600;
}
